/* navbar style start here */

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.logos{
    text-align: left;
}
.nav-head h1{
    text-align: right;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: #0c6168;
}
/*navbar style end/*

/* profile style start here */
.first-image {
    position: absolute;
right: 100px;
top: 20px;
width: 100px;
height: 100px;
border-radius: 50%;
transition: width 2s, transform 2s;
}
.first-image:hover {
    transform: rotate(360deg);
width: 140px;
    
}
.profile .last-image{
    position: absolute;
left:  100px;
bottom: 10px;
width: 100px;
height: 100px;
border-radius: 50%;
transition: width 2s, transform 2s;

}
.last-image:hover{
    transform: rotate(360deg);
    width: 140px;
}

.profile-desc {
    color: rgb(red, green, blue);
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

/* profile style end here */


/* about me style start */
.aboutme-image{
    margin-top: 100px;
}

.img-im{
   height: 270px; 
   width: 250px;
    
    
}

.about-me-desc p{
text-align: left;
}

/* about me style end */



/* professional experience style start */
.professional-experience{

}


/* professional experience style end */


/*achivement contact start here*/

.achivement{
    padding: 50px;
}
.contact-link{
    position: relative;
}
.media-btn{
    margin-top: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*achivement contact end here*/

/* footer style start */
.footer{

}
.footer-menu{
    margin-top: 12px;

}
.footer-menu a{
    display: inline;
    margin: 10px;
}
/* footer style end */